h2 {
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
}
table { 
	margin-left: auto;
	margin-right: auto;
}
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
th, td {
	padding: 5px;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 90%;
}
table tbody tr:hover {
	background-color: #dddddd;
}
.wide {
	width: 90%; 
}

.bar-item{padding:8px 16px;
	float:left;
	width:auto;
	border:none;
	display:block;
	outline:0;
	background-color:#dddddd;
}
.bar{width:100%;overflow:hidden} .bar{display:inline-block;width:auto}
